<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personnel Login- BuzzNews</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" 
            integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" 
            crossorigin="anonymous" referrerpolicy="no-referrer" />
 
</head>
<body>
    <div class="form-body">
        <form class="form-container" method="POST" action="{{ url_for('personnel_login') }}" autocomplete="off">
            <h2>Login to BuzzNews</h2>

            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="message">{{ messages[0] }}</div>
              {% endif %}
            {% endwith %}

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required autocomplete="off"/>
            </div>

            <div class="form-group" >
                <label for="password">Password</label>
                <div class="password-container">  
                    <input type="password" id="password" name="password" required  autocomplete="new-password"/>
                    <button type="button" class="toggle-password" onclick="togglePassword(this)">
                       <i class="fa-regular fa-eye-slash"></i>
                    </button>
                </div>
                    <button type="submit" class="submit-btn">Login</button>
            </div>
        </form>
    </div>
</body>
<script>
    function togglePassword(button) {
    const formGroup = button.parentElement;
    const input = formGroup.querySelector('input[type="password"], input[type="text"]');
    const icon = button.querySelector('i');

    if (input.type === "password") {
        input.type = "text";
        icon.classList.remove("fa-eye-slash");
        icon.classList.add("fa-eye");
    } else {
        input.type = "password";
        icon.classList.remove("fa-eye");
        icon.classList.add("fa-eye-slash");
    }
}
</script>
</html>
